body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.dashboard {
    text-align: center;
    padding: 20px;
}

.dashboard h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.dashboard .h2{
    font-size: 20px;
    margin-bottom: 20px;
}

.content {
    flex: 1;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats {
    display: flex;
    gap: 20px;
}

.stat-box {
    background: #1E1E1E;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
}

.transactions table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.transactions th, .transactions td {
    padding: 10px;
    border-bottom: 1px solid #333;
}

.transactions td.complete {
    color: green;
}

.transactions td.failed {
    color: red;
}

.transactions td.pending {
    color: yellow;
}


