@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


body {
    background-color: #121212;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.page-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    font-family: "Poppins", sans-serif; 
    background-color: rgb(25, 26, 39);
}

.page-header .h2{
    position: left;
    font-weight: 500;
    padding: 8px 8px;
    margin-bottom: 20px;
}

.page-header button{
    background-color: transparent;
    width: 40px;
    color: white;
    border: none;
}

.page-header button:hover{
    color: rgb(212, 212, 212);
    cursor: pointer;
}

.dash-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 70px;
}

.home {
    text-align: center;
    padding: 20px;
}

.home h1 {
    font-size: 24px;
    margin-top: 70px;
    margin-bottom: 20px;
}

.content {
    flex: 1;
    padding: 20px;
}

.content #toggleBtn {
    font-size: 16px;
    width: 140px;
    height: 60px;
}

.content .stats{
    margin-top: 60px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.home button {
    color: white;
    background-color: #19bc00;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    font-weight: 500;
   
}

.home button:hover {
    color: white;
    background-color: #128300;
   
}

.date-selection{
    padding: 0 50px;
    margin-bottom: 40px;
}

.date-selection #month, .date-selection #year {
    width: 100px;
    height: 30px;
    margin: 0 10px;

}

.stats {
    display: flex;
    gap: 20px;
}

.stat-box {
    background: #1E1E1E;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
}

.transactions {
    margin-top: 50px;
}

.transactions table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.transaction-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.transaction-form form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px; 
    flex-wrap: nowrap; 
    
}


.transaction-form label {
    margin-right: 0;
}


.transaction-form button {
   
    margin: 0 10px;
    
}

.transaction-form #category{
    width: 100px;
    height: 20px;
    margin-left: 10px;
}


.transaction-form #subCategoryBtn {
    width: 200px;
    display:none;

}
.transaction-form #successMessage {
    display:none;
    color: green;
}
.transactions th, .transactions td {
    padding: 10px;
    border-bottom: 1px solid #333;
}

.transactions td.complete {
    color: green;
}

.transactions td.failed {
    color: red;
}

.transactions td.pending {
    color: yellow;
}

.income table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.income th, .transactions td {
    padding: 10px;
    border-bottom: 1px solid #333;
}

.page-footer {
    background-color: rgb(25, 26, 39);
    color: white;
    text-align: left;
    font-size: small;
    font-weight: 200;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
}

.page-footer h3{
    font-size: small;
    font-weight: 200;
}