
{% block content %}
<!----------- Email invite --------------->
<body class="combined-budget-body">

    <section id="invite-form"> 

        <form id="inviteForm">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter email" required>
            <button type="submit">Send Invitation</button>
        </form>
    </section>
    
    <!-------------- Budget Tables ---------------->
    <section class="budget-tables">

        <!-- Group Transaction Form -->
    
        <h2>Group Transactions</h2>
        <section class="group-transaction-form" id="groupTransactionForm">
            <h3>Enter Transaction</h3>
            <form id="transForm">
                <div>
                    <label for="date">Date:</label>
                    <input type="text" id="transDate" name="date" required>

                    <label for="amount">Amount:</label>
                    <input type="text" id="transAmount" name="amount" required>

                    <label for="memo">Memo:</label>
                    <input type="text" id="transMemo" name="memo">

                    <!-- category input setup -->
                    <div id="categoryDropdown">
                        <label for="category-list">Category:</label>
                        <select id="category-list" name="category-list">
                            {% for category in category_list %}
                                <option> {{ category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div id="categoryInput" style="display: none;">
                        <label for="add-category">New Category:</label>
                        <input type="text" id="add-category" name="add-category" placeholder="Type in your category">
                    </div>

                    <input type="hidden" id="hidden-category" name="hidden-category"> <!-- holds the category value -->

                    <button type="button" id="toggleCategoryBtn">Add Category</button>
                </div>
                
                <button type="submit" id="submitTransBtn">Submit</button>

                <!-- add styling-->
                <div id="transactionFeedbackMessage">
                </div>
            </form>
        </section>

        <!-- Group Transaction Table -->
        <section class="group-transaction-table" id="groupTransactionTable">
            
            <table>
                <tr>
                    <th>User</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Memo</th>
                    <th></th>

                </tr>
                <!--For loop for pulling transactions from db-->
                {% for transaction in trans_list %}
                <tr>
                    <td>Jim Gorden</td>
                    <!--format date-->
                    {% if transaction[3][5] == "1" %}
                        <td> {{transaction[3][5:7] + "/" + transaction[3][8:11] + "/" + transaction[3][0:4]}}</td>
                    {% else %}
                        <td> {{transaction[3][6:7] + "/" + transaction[3][8:11] + "/" + transaction[3][0:4]}}</td>
                    {% endif %}
                    <!--add zero to end of amount if it should end in one-->
                    {% if (transaction[1] | string)[transaction[1] | string | length - 2 ] == "." %}
                        <td>${{transaction[1]}}0</td>
                    {% else %}
                        <td>${{transaction[1]}}</td>
                    {% endif %}
                    <td>{{transaction[2].title()}}</td>
                    <td>{{transaction[4]}}</td>

                    <!--delete transaction-->
                    <td>
                        <button 
                            class="delete-trans-btn" 
                            transaction-id="{{ transaction[0] }}">
                            Delete
                        </button>
                    </td>
                    

                </tr>
                {% endfor %}
            </table>
        </section>
    
        <!-- Group Income Form -->
        <h2>Group Income</h2>
        <section class="group-income-form" id="groupIncomeForm" >
            <h3>Enter Income</h3>
                <form id="groupIncomeForm">
                    <div>
                        <label for="date">Date:</label>
                        <input type="text" id="date" name="date" required>

                        <label for="amount">Amount:</label>
                        <input type="text" id="amount" name="amount" required>

                        <label for="memo">Memo:</label>
                        <input type="text" id="memo" name="memo">

                        <!-- stay on same month and year -->
                    </div>
                    
                    <button type="submit" id="submit">Submit</button>

                    <!-- add styling-->
                    <div id="incomeFeedbackMessage">
                        <p></p>
                    </div>
                    </form>

        </section>

        <!-- Group Income Table -->
        <section class="group-income-table" id="groupIncomeTable" >
            <h2>Group Income</h2>
            <table>
                <tr>
                    <th>User</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Memo</th>
                    <th></th>
                </tr>
                <!--For loop for pulling income from db-->
                {% for income in income_list %}
                <tr>
                    <td>Jim Gorden</td>
                    <!--format date-->
                    {% if income[2][5] == "1" %}
                        <td> {{income[2][5:7] + "/" + income[2][8:11] + "/" + income[2][0:4]}}</td>
                    {% else %}
                        <td> {{income[2][6:7] + "/" + income[2][8:11] + "/" + income[2][0:4]}}</td>
                    {% endif %}
                    <!--add zero to end of amount if it should end in one-->
                    {% if (income[1] | string)[income[1] | string | length - 2 ] == "." %}
                        <td>${{income[1]}}0</td>
                    {% else %}
                        <td>${{income[1]}}</td>
                    {% endif %}
                    <td>{{income[3]}}</td>

                    <!--delete income-->
                    <td>
                        <button 
                            class="delete-income-btn" 
                            income-id="{{ income[0] }}">
                            Delete
                        </button>
                    </td>

                </tr>
                {% endfor %}
            </table>
        </section>
    </section>

    <!---- Group Chat ----->
    <section class="group-chat" id="groupChat">
        <h2>Group Chat</h2>
        <div id="chatMessages" class="chat-messages"></div>
        <form id="chatForm">
            <input type="text" id="chatInput" placeholder="Type your message here..." required>
            <button type="submit">Send</button>
        </form>
    </section>

    <script src= "../static/js/comb_budget.js"> </script>
</body>
</html>
{% endblock %}