
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Finance App</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    
</head>
<body>
    <div class="dashboard">
        <h1>Personal Finance App</h1>
            <h2>Dashboard</h2>

        <!-- Main Content -->
        <main class="content">
            <header>
                <div class="user">
                    <img src="assets/user-avatar.png" alt="User">
                    <h3>Bruce Wayne</h3>
                    <p>wayne@gmail.com</p>
                </div>
                
            </header>
            <h3>{{ chosen_month_string }} {{session_vars['chosen_year']}}</h3>
            <body>
                <button id="toggleBtn">Change Month/Year</button>
                <div id="content">
                    <section class="date-selection">
                        <h3>Choose Date Range</h3>
                        <form action="/submit-date" method="post">
                            <script>
                                var chosen_year = {{ session_vars['chosen_year'] }}
                            </script>

                        
                            <!--pass in {{ session_vars['chosen_month'] }} and {{ session_vars['chosen_year'] }} for month and year chosen-->
                            <label for="month">Month:</label>
                            <select id="month" name="month">
                                <option value="January" {% if session_vars["chosen_month"] == 1 %}selected{% endif %}>January</option>
                                <option value="February" {% if session_vars["chosen_month"] == 2 %}selected{% endif %}>February</option>
                                <option value="March" {% if session_vars["chosen_month"] == 3 %}selected{% endif %}>March</option>
                                <option value="April" {% if session_vars["chosen_month"] == 4 %}selected{% endif %}>April</option>
                                <option value="May" {% if session_vars["chosen_month"] == 5 %}selected{% endif %}>May</option>
                                <option value="June" {% if session_vars["chosen_month"] == 6 %}selected{% endif %}>June</option>
                                <option value="July" {% if session_vars["chosen_month"] == 7 %}selected{% endif %}>July</option>
                                <option value="August" {% if session_vars["chosen_month"] == 8 %}selected{% endif %}>August</option>
                                <option value="September" {% if session_vars["chosen_month"] == 9 %}selected{% endif %}>September</option>
                                <option value="October" {% if session_vars["chosen_month"] == 10 %}selected{% endif %}>October</option>
                                <option value="November" {% if session_vars["chosen_month"] == 11 %}selected{% endif %}>November</option>
                                <option value="December" {% if session_vars["chosen_month"] == 12 %}selected{% endif %}>December</option>
                            </select>
        
                            <label for="year">Year: </label>
                            <select id="year" name="year"></select>
                            <button type="submit">Submit</button>
        
        
                        </form>
        
                    </section>
                </div>

                <script>
                    const btn = document.getElementById("toggleBtn");
                    const content = document.getElementById("content");
                    content.style.display = "none";
                    btn.textContent = "Change Month/Year";

                    btn.addEventListener("click", function() {
                        if (content.style.display === "none" || content.style.display === "") {
                            content.style.display = "block";
                            btn.textContent = "Hide";
                        } else {
                            content.style.display = "none";
                            btn.textContent = "Change Month/Year";
                        }
                    });
                </script>
            </body>
            </html>



            
            <!-- Date Selection -->
            



            <!-- Dashboard Stats -->
            <section class="stats">
                <div class="stat-box">
                    <h4>Total Balance</h4>
                    {% if (total_values[0] | string)[total_values[0] | string | length - 2 ] == "." %}
                        <p>${{total_values[0]}}0</p>
                    {% else %}
                        <p>${{total_values[0]}}</p>
                    {% endif %}
                    <span class="increase">+ $17,938 (13%)</span>
                </div>
                
                <div class="stat-box">
                    <h4>Total Expense</h4>
                    {% if (total_values[1] | string)[total_values[1] | string | length - 2 ] == "." %}
                        <p>${{total_values[1]}}0</p>
                    {% else %}
                        <p>${{total_values[1]}}</p>
                    {% endif %}
                    
                    {% if total_diffs[1] != 0 %}
                        {% if (total_diffs[1] | string)[total_diffs[1] | string | length - 2 ] == "." %}
                            <p>{{total_diffs[1]}}0 ({{total_diff_percs[1]}}%)</p>
                        {% else %}
                            <p>{{total_diffs[1]}} ({{total_diff_percs[1]}}%)</p>
                        {% endif %}
                    {% else %}
                        <p>-</p>
                    {% endif %}
                </div>

                <div class="stat-box">
                    <h4>Total Income</h4>
                    {% if (total_values[2] | string)[total_values[2] | string | length - 2 ] == "." %}
                        <p>${{total_values[2]}}0</p>
                    {% else %}
                        <p>${{total_values[2]}}</p>
                    {% endif %}
                    <span class="increase">+ $10,398 (13%)</span>
                    
                </div>
            </section>



            <!-- Transaction Form -->
            <section class="transaction-form">
                <h3>Enter Transaction</h3>
                {% if session_vars["submit_successful"] != False %}
                <form action="/submit" method="post">
                    <div>
                        <label for="date">Date:</label>
                        <input type="text" id="date" name="date" required>

                        <label for="amount">Amount:</label>
                        <input type="text" id="amount" name="amount" required>

                        <label for="memo">Memo:</label>
                        <input type="text" id="memo" name="memo">

                        <!-- stay on same month and year -->
                        <input type="hidden" name="month" value="{{ session_vars['chosen_month'] }}">
                        <input type="hidden" name="year" value="{{ session_vars['chosen_year'] }}">


                        <!-- category input setup -->
                        <div id="categoryDropdown">
                            <label for="category-list">Category:</label>
                            <select id="category-list" name="category-list">
                                {% for category in category_list %}
                                    <option> {{ category }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div id="categoryInput" style="display: none;">
                            <label for="add-category">New Category:</label>
                            <input type="text" id="add-category" name="add-category" placeholder="Type in your category">
                        </div>

                        <!-- holds the category value -->
                        <input type="hidden" id="hidden-category" name="hidden-category">

                        <button type="button" id="toggleCategoryBtn">Add Category</button>
                    </div>
                    
                    <button type="submit" id="submit">Submit</button>

                    <!-- add styling-->
                    <div id="successMessage">
                        <p>Transaction added!</p>
                    </div>

                    {% if session_vars["submit_successful"] == True %}
                        <body onload="showSuccessMessage()"></body>
                    {% endif %}
                </form>
                {% else %}
                <form action="/submit" method="post">
                    <label for="date">Date:</label>
                    <input type="text" id="date" name="date" value="{{session_vars['session_date']}}" required>

                    <label for="amount">Amount:</label>
                    <input type="text" id="amount" name="amount" value="{{session_vars['session_amount']}}" required>

                    <label for="memo">Memo:</label>
                    <input type="text" id="memo" name="memo" value="{{session_vars['session_memo']}}">

                    <!-- stay on same month and year -->
                    <input type="hidden" name="month" value="{{ session_vars['chosen_month'] }}">
                    <input type="hidden" name="year" value="{{ session_vars['chosen_year'] }}">

                    

                    <!-- <div id="categoryDropdown">
                        <label for="category-list">Category:</label>
                        <select id="category-list" name="category-list">
                            {% for category in category_list %}
                                <option>{{ category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div id="categoryInput" style="display: none;">
                        <label for="add-category">New Category:</label>
                        <input type="text" id="add-category" name="add-category" placeholder="Type in your category">
                    </div>
                    
                    <button type="button" id="toggleCategoryBtn">Add Category</button> -->
                    
                    
                    
                    <button type="submit">Submit</button>
                    
                    <!-- add styling-->
                    <div id="failMessage">
                        <p>Date is in the future!</p>
                    </div>
                </form>
                {% endif %}
            </section>
            


            <!-- Transaction Table -->
            <section class="transactions">
                <h3>Recent Transactions</h3>
                <table>
                    <tr>
                        <th>User</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Memo</th>
                        <th></th>

                    </tr>
                    <!--For loop for pulling transactions from db-->
                    {% for transaction in trans_list %}
                    <tr>
                        <td>Jim Gorden</td>
                        <!--format date-->
                        {% if transaction[3][5] == "1" %}
                            <td> {{transaction[3][5:7] + "/" + transaction[3][8:11] + "/" + transaction[3][0:4]}}</td>
                        {% else %}
                            <td> {{transaction[3][6:7] + "/" + transaction[3][8:11] + "/" + transaction[3][0:4]}}</td>
                        {% endif %}
                        <!--add zero to end of amount if it should end in one-->
                        {% if (transaction[1] | string)[transaction[1] | string | length - 2 ] == "." %}
                            <td>${{transaction[1]}}0</td>
                        {% else %}
                            <td>${{transaction[1]}}</td>
                        {% endif %}
                        <td>{{transaction[2].title()}}</td>
                        <td>{{transaction[4]}}</td>

                        <!--delete transaction-->
                        <td>
                            <form action="/delete-transaction" method="post">
                                <input type="hidden" name="transaction_id" value="{{ transaction[0] }}">
                                <input type="hidden" name="month" value="{{ session_vars['chosen_month'] }}">
                                <input type="hidden" name="year" value="{{ session_vars['chosen_year'] }}">
                                <button type="submit">Delete</button>
                            </form>
                        </td>

                    </tr>
                    {% endfor %}
                </table>
            </section>

        </main>
    </div>



    <script src="../static/js/index.js"></script>
    
</body>
</html>
