# name: Deploy to Heroku

# on:
#   push:
#     branches:
#       - master

# jobs:
#   deploy:
#     runs-on: ubuntu-latest

#     steps:
#       # Step 1: Checkout the code
#       - name: Checkout code
#         uses: actions/checkout@v2

#       # Step 2: Set up Python
#       - name: Set up Python
#         uses: actions/setup-python@v2
#         with:
#           python-version: '3.12'  # You can change this to your desired version

#       # Step 3: Install dependencies
#       - name: Install dependencies
#         run: |
#           python -m pip install --upgrade pip
#           pip install -r requirements.txt

#         # Step 4: Install Heroku CLI
#       - name: Install Heroku CLI
#         run: |
#           curl https://cli-assets.heroku.com/install-ubuntu.sh | sh

#       # Step 5: Deploy to Heroku

#       - name: Deploy to Heroku
#         uses: akhileshns/heroku-deploy@v3.12.12
#         with:
#           heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
#           heroku_app_name: "money-mate"
#           heroku_email: "nsteiner@oakland.edu"
